fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

.l-footer {
	background-color: #F5F5F5;
	padding-bottom: 20px;
	padding-top: 30px;
}

.l-footer .footer-menu {
	margin: 0 auto 30px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.l-footer .footer-menu ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.l-footer .footer-menu ul li {
	border-right: 2px solid #888;
	padding-left: 50px;
	padding-right: 50px;
}

.l-footer .footer-menu ul li a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

.l-footer .footer-menu ul li:last-child {
	border-right: none;
}

.l-footer .copyright {
	font-size: 13px;
	text-align: center;
}

.l-header {
	display: flex;
	height: 80px;
	justify-content: space-between;
	width: 100%;
}

.l-header .logo {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 20%;
}

.l-header .logo img {
	width: 100%;
}

.l-header .header-menu {
	width: 520px;
}

.l-header .header-menu nav ul {
	display: flex;
	justify-content: space-between;
}

.l-header .header-menu nav ul li {
	height: 80px;
}

.l-header .header-menu nav ul li a {
	color: #333;
	font-size: 0.8125rem;
	line-height: 80px;
	text-decoration: none;
}

.l-header .navbtn {
	display: none;
}

.l-header .header-contact {
	display: flex;
}

.l-header .header-contact .tel {
	align-items: center;
	display: flex;
	margin-right: 20px;
	text-align: center;
}

.l-header .header-contact .tel .inner p {
	margin-bottom: 10px;
}

.l-header .header-contact .tel .inner p span {
	color: #01588E;
	font-size: 20px;
	font-weight: bold;
}

.l-header .header-contact .tel .inner p.smaller {
	font-size: 11px;
	margin-bottom: 0 !important;
}

.l-header .header-contact .apply-form {
	align-items: center;
	background-color: #FADD62;
	display: flex;
	justify-content: center;
	width: 170px;
}

.l-header .header-contact .apply-form .inner p.smaller {
	background-color: #000;
	border-radius: 9px;
	color: #FFF;
	font-size: 12px;
	margin: 0 auto;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
	width: 130px;
}

.l-header .header-contact .apply-form .inner .bigger {
	font-size: 20px;
}

.appeal {
	background-image: url(../img/bg01.png);
	background-size: cover;
	padding-bottom: 120px;
	padding-top: 120px;
}

.appeal h1 {
	color: #01588E;
	font-size: 42px;
	line-height: 72px;
	margin-bottom: 80px;
	text-align: center;
}

.appeal p {
	font-size: 1rem;
	line-height: 2rem;
	margin-bottom: 50px;
	text-align: center;
}

.appeal p .bold {
	font-weight: bold;
}

.appeal h2,
.appeal h4 {
	text-align: center;
}

.apply-block {
	background-color: #01588E;
	color: #FFF;
	padding-bottom: 60px;
	padding-top: 45px;
}

.apply-block .apply-block-inner {
	margin: 0 auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.apply-block .apply-block-inner p {
	font-size: 1rem;
}

.apply-block .apply-block-inner p span.bigger {
	font-size: 1.25em;
}

.apply-block .apply-block-inner .free-dial {
	border-bottom: 1px solid #FFF;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.apply-block .apply-block-inner .free-dial .left {
	align-items: center;
	border-right: 1px solid #FFF;
	display: flex;
	padding-bottom: 16px;
	padding-right: 16px;
}

.apply-block .apply-block-inner .free-dial .left p.bigger {
	font-size: 1.125em;
	line-height: 1.4375em;
}

.apply-block .apply-block-inner .free-dial .left p.smaller {
	font-size: 0.8125em;
}

.apply-block .apply-block-inner .free-dial .right {
	padding-bottom: 16px;
	padding-left: 60px;
}

.apply-block .apply-block-inner .free-dial .right p.bigger {
	font-size: 2.25em;
	margin-bottom: 10px;
}

.caution {
	border: #707070 1px solid;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 28px;
	margin: 0 auto 110px;
	padding: 30px 50px;
	width: 740px;
}

.caution .second-p {
	margin-top: 40px;
}

.caution p {
	text-align: initial;
}

.caution a {
	color: #56AEDD;
	text-decoration: none;
}

.comments .inner {
	margin: auto;
	margin-bottom: 20px;
	max-width: 740px;
	padding: 0 32px;
}

.comments .inner .comments-title {
	-webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
	background-color: #56AEDD;
	clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
	color: #fff;
	line-height: 40px;
	text-align: center;
	width: 100%;
}

.comments .inner .comments-text {
	color: #333;
	font-size: 28px;
	line-height: 2.85714em;
	text-align: center;
}

.comments .inner .comments-text span {
	font-size: 55px;
	font-weight: bold;
}

.page-lists {
	border-bottom: 1px solid #707070;
	margin-top: 90px;
}

.page-lists .page-lists__item {
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	list-style: none;
	width: 25%;
}

.page-lists .page-lists__item a {
	color: #333;
	display: block;
	height: 100%;
	line-height: 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	width: 100%;
}

.page-lists .page-lists__item a::after {
	color: #333;
	content: "＞";
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}

.page-lists .page-lists__item a:hover {
	opacity: 0.7;
}

.page-lists .page-lists__item a:hover::after {
	right: 5px;
}

.page-lists .current-page {
	background-color: #01588E;
	border-left: 1px solid #01588E;
	border-right: 1px solid #01588E;
}

.page-lists .current-page a {
	color: #fff;
}

.page-lists .current-page a::after {
	display: none;
}

.questionnaire {
	background-color: #56AEDD;
	color: #FFF;
}

.questionnaire h3 {
	font-size: 2.25rem;
}

.questionnaire .customer-answer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1000px;
}

.questionnaire .customer-answer .voice {
	background-color: #FFF;
	color: #56AEDD;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 48px;
	width: 300px;
}

.suggestion .suggest-top {
	background-color: #035aa6;
	color: #FFF;
	padding: 50px;
	position: relative;
	text-align: center;
}

.suggestion .suggest-top h4.under-line {
	border-bottom: 3px solid #FADD62;
	font-size: 24px;
	line-height: 42px;
	margin: 0 auto;
	padding-bottom: 6px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.suggestion .suggest-top h3 {
	font-size: 36px;
	line-height: 54px;
	margin-top: 30px;
}

.suggestion .suggest-top ::before {
	border-color: #035aa6 transparent;
	border-style: solid;
	border-width: 20px 10px 0 10px;
	bottom: -20px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	z-index: 1;
}

.suggestion .suggest-middle {
	background-color: #F5F5F5;
	padding-bottom: 65px;
	padding-top: 65px;
}

.suggestion .suggest-middle p {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

.suggestion .suggest-middle .check {
	border-bottom: 1px solid #707070;
	font-size: 20px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.top-reason {
	padding-top: 110px;
}

.top-reason .title {
	color: #6D7E8C;
	font-size: 20px;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
}

.top-reason .title::after {
	background-color: #6D7E8C;
	bottom: -15px;
	content: "";
	height: 20px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 100%);
	width: 0.1px;
}

.top-reason h2 {
	color: #035AA6;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.714285em;
	margin-bottom: 90px;
	text-align: center;
}

.top-reason .reason-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.top-reason .reason-block .reason-box {
	border: 2px solid #01588E;
	box-shadow: 10px 10px 5px #FADD62;
	box-sizing: border-box;
	box-sizing: border-box;
	height: 190px;
	margin-bottom: 123px;
	padding-top: 60px;
	position: relative;
	width: 400px;
}

.top-reason .reason-block .reason-box p {
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
}

.top-reason .reason-block .reason-box .item-num {
	left: 40%;
	position: absolute;
	top: -47px;
}

.top-reason .reason-block .reason-box .item-num h3 {
	background-color: #FFF;
	color: #01588E;
	font-size: 50px;
	line-height: 78px;
	padding: 10px;
}

.about p {
	font-size: 16px;
	line-height: 28px;
}

.about .blue-text {
	color: #035aa6;
	font-size: 42px;
	font-weight: bold;
	line-height: 72px;
	text-align: center;
}

.about .about-section .inner .about-title-box .about-title {
	color: #6D7E8C;
	font-size: 20px;
	margin-bottom: 50px;
	margin-top: 95px;
	position: relative;
	text-align: center;
}

.about .about-section .inner .about-title-box .about-title::after {
	background-color: #6D7E8C;
	bottom: -15px;
	content: "";
	height: 20px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 100%);
	width: 0.1px;
}

.about .about-section .inner .about-title-box .about-title__sub {
	color: #035aa6;
	font-size: 42px;
	font-weight: bold;
	line-height: 72px;
	text-align: center;
}

.about .about-section .inner .about-title-box .about-free {
	background-color: #333;
	color: #FFF;
	font-size: 24px;
	line-height: 42px;
	margin: 0 auto;
	text-align: center;
	width: 59%;
}

.about .about-section .inner .about-title-text {
	margin: 0 auto 110px;
	width: 47%;
}

.about .about-section .inner .about-title-text .upper {
	margin: 60px auto 80px;
}

.about .about-section .inner .about-title-text .lower {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.about .about-section .inner .about-background {
	background-color: #F5F5F5;
	padding-bottom: 122px;
}

.about .about-section .inner .about-background h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
}

.about .about-section .inner .about-background-text {
	background-color: #FFF;
	margin-top: 45px;
	padding-bottom: 22px;
	padding-top: 50px;
}

.about .about-section .inner .about-background-text p {
	margin-bottom: 28px;
	margin-left: auto;
	margin-right: auto;
	width: 48%;
}

.about .about-section .inner .about-suggest {
	background-color: #035aa6;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	padding-bottom: 45px;
	padding-top: 45px;
	text-align: center;
}

.about .about-section .inner .about__campain {
	padding-top: 115px;
}

.about .about-section .inner .about__campain .center {
	text-align: center;
}

.about .about-section .inner .about__campain h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
}

.about .about-section .inner .about__campain .inner {
	border: 1px solid #333;
	margin: 0 auto 20px;
	padding: 40px 30px 40px 40px;
	width: 650px;
}

.about .about-section .inner .about__campain .bottom-h {
	margin: 84px auto 34px;
}

.flow .section-flow .inner {
	margin: auto;
	max-width: 890px;
	padding: 0 32px;
}

.flow .section-flow .flow-title-box {
	margin-bottom: 80px;
	margin-top: 100px;
	text-align: center;
}

.flow .section-flow .flow-title-box .flow-title {
	color: #6D7E8C;
	font-size: 20px;
	margin-bottom: 50px;
	position: relative;
}

.flow .section-flow .flow-title-box .flow-title::after {
	background-color: #6D7E8C;
	bottom: -15px;
	content: "";
	height: 20px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 100%);
	width: 0.1px;
}

.flow .section-flow .flow-title-box .flow-title__sub {
	color: #035AA6;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.714285em;
}

.flow .section-flow .flow-title-box .flow-free {
	background-color: #FADD62;
	border-radius: 50%;
	color: #01588E;
	font-size: 19px;
	font-weight: bold;
	height: 100px;
	line-height: 100px;
	margin: auto;
	text-align: center;
	width: 100px;
}

.flow .section-flow .step {
	margin-bottom: 100px;
}

.flow .section-flow .step-item {
	align-items: flex-start;
	width: 100%;
}

.flow .section-flow .step-item:not(:last-child) {
	margin-bottom: 71px;
}

.flow .section-flow .step-item__illust {
	margin-right: 30px;
	width: 37.7%;
}

.flow .section-flow .step-item__illust-step {
	border-bottom: 3px solid #56AEDD;
	color: #01588E;
	font-size: 20px;
	font-weight: bold;
	line-height: 2.75em;
	position: relative;
	width: 100%;
}

.flow .section-flow .step-item__illust-step span {
	font-size: 55px;
}

.flow .section-flow .step-item__illust-step::after {
	background-color: #56AEDD;
	bottom: 15px;
	content: "";
	height: 3px;
	position: absolute;
	right: -6px;
	transform: rotate(45deg);
	width: 50px;
}

.flow .section-flow .step-item__illust-icon {
	margin-top: 36px;
	text-align: center;
}

.flow .section-flow .step-item__text {
	background-color: #EDF9FF;
	padding: 40px 30px 27px 30px;
	width: calc((100% - 30px ) * .6511627);
}

.flow .section-flow .step-item__text-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 28px;
}

.flow .section-flow .step-item__text-txt {
	font-size: 16px;
	line-height: 1.75;
}

.flow .section-flow .step-item__text-txt span {
	font-weight: bold;
}

.flow .section-flow .step-item__text-txt__sub {
	background-color: #fff;
	line-height: 1.75em;
	margin-top: 18px;
	padding: 15px 30px;
}

.flow .section-flow .flow-alert {
	line-height: 1.75em;
	margin-bottom: 18px;
}

.flow .section-flow .flow-document {
	border: 1px solid #707070;
}

.flow .section-flow .flow-document__title {
	font-weight: bold;
	position: relative;
	width: 34.8837%;
}

.flow .section-flow .flow-document__title::after {
	background-color: #707070;
	content: "";
	height: 55px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(100%, -50%);
	width: 1px;
}

.flow .section-flow .flow-document__lists {
	width: 65.11627%;
}

.flow .section-flow .flow-document__title,
.flow .section-flow .flow-document__lists {
	font-size: 16px;
	line-height: 1.75em;
	padding: 18px 30px;
}

.flow .conform {
	background-color: #F5F5F5;
	padding-bottom: 60px;
	padding-top: 70px;
}

.flow .conform .inner {
	margin: auto;
	max-width: 620px;
	padding: 0 32px;
}

.flow .conform-title {
	align-items: center;
	font-size: 36px;
	margin-bottom: 57px;
}

.flow .conform-title span {
	margin-right: 15px;
}

.flow .conform-alert {
	line-height: 1.75em;
	margin-bottom: 47px;
}

.flow .conform-alert a {
	color: #56AEDD;
	transition: all .3s;
}

.flow .conform-alert a:hover {
	opacity: 0.7;
	text-decoration: none;
}

.flow .conform-lists {
	list-style: none;
}

.flow .conform-lists__item {
	background-color: #fff;
	border: 1px solid #707070;
	padding: 30px 0;
}

.flow .conform-lists__item:not(:last-child) {
	margin-bottom: 40px;
}

.flow .conform-lists__item__title {
	border-left: 10px solid #01588E;
	font-size: 24px;
	padding: 0 40px 0 30px;
}

.flow .conform-lists__item__text {
	margin-top: 30px;
	padding: 0 40px;
}

.flow .conform-lists__item__title,
.flow .conform-lists__item__text {
	line-height: 1.75em;
}

._flex {
	display: flex;
}

._inner {
	box-sizing: content-box;
	margin: auto;
	max-width: 1000px;
	padding: 0 32px;
}

.com-fv {
	background-image: url(../img/com-fv-bg.png);
	background-position: center;
	background-size: cover;
	height: 200px;
	position: relative;
	width: 100%;
}

.com-fv ._page-title {
	align-items: center;
	color: #fff;
	font-size: 42px;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.com-fv ._page-title span {
	margin-right: 34px;
}

.page-info {
	margin-top: 18px;
}

.page-info .pan-kuzu {
	font-size: 13px;
}

.page-info .page-lists {
	border-bottom: 1px solid #707070;
	margin-top: 90px;
}

.page-info .page-lists .page-lists__item {
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	list-style: none;
	width: 25%;
}

.page-info .page-lists .page-lists__item a {
	color: #333;
	display: block;
	height: 100%;
	line-height: 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	width: 100%;
}

.page-info .page-lists .page-lists__item a::after {
	color: #333;
	content: "＞";
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}

.page-info .page-lists .page-lists__item a:hover {
	opacity: 0.7;
}

.page-info .page-lists .page-lists__item a:hover::after {
	right: 5px;
}

.page-info .page-lists .current-page {
	background-color: #01588E;
	border-left: 1px solid #01588E;
	border-right: 1px solid #01588E;
}

.page-info .page-lists .current-page a {
	color: #fff;
}

.page-info .page-lists .current-page a::after {
	display: none;
}

.manga .illust .illust-inner {
	box-sizing: border-box;
	margin: 92px auto 60px auto;
	max-width: 706px;
	padding: 0 32px;
	width: 100%;
}

.manga .illust .illust-title {
	color: #035AA6;
	font-size: 42px;
	line-height: 1.71428;
	text-align: center;
}

.manga .illust figure {
	width: 100%;
}

.manga .illust figure img {
	width: 100%;
}

.paper p {
	font-size: 16px;
	line-height: 28px;
}

.paper .blue-text {
	color: #035aa6;
	font-size: 42px;
	font-weight: bold;
	line-height: 72px;
	text-align: center;
}

.paper-middle {
	padding: 100px;
}

.paper-middle h2 {
	margin-bottom: 60px;
}

.paper-middle h4 {
	text-align: center;
}

.paper-middle .cautions {
	background-color: #EDF9FF;
	margin: 0 auto;
	padding: 40px 140px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.paper-middle .cautions h3 {
	text-align: center;
}

.paper-middle .cautions p {
	width: 650px;
}

.paper-middle .two-cols {
	display: flex;
	justify-content: center;
	margin-bottom: 113px;
}

.paper-middle .two-cols .left,
.paper-middle .two-cols .right {
	background-color: #F5F5F5;
}

.paper-middle .two-cols .left h3,
.paper-middle .two-cols .right h3 {
	color: #035aa6;
	font-weight: bold;
}

.paper-middle .two-cols .left {
	box-sizing: border-box;
	margin-right: 80px;
	width: 276px;
}

.paper-middle .two-cols .right {
	box-sizing: border-box;
	width: 362px;
}

.paper-middle .bold {
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
}

.question {
	color: #333;
}

.question img {
	max-width: 100%;
}

.question .com-fv ._page-title ._image {
	margin-right: 22px;
	width: 94px;
}

.question .question__content .question__top {
	line-height: 1.75;
	margin: 93px 0 77px;
	text-align: center;
}

.question .question__content .question__items {
	margin: 0 auto;
	max-width: 750px;
}

.question .question__content .question__items .question__item .question__q {
	background: #F5F5F5;
	display: block;
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 40px;
	padding: 16px 68px 16px 82px;
	position: relative;
}

.question .question__content .question__items .question__item .question__q:before {
	color: #01588E;
	content: "Q";
	font-size: 22px;
	font-weight: 600;
	left: 30px;
	position: absolute;
	top: 13px;
}

.question .question__content .question__items .question__item .question__q:after {
	content: "＋";
	font-size: 1.125rem;
	font-weight: 300;
	position: absolute;
	right: 20px;
	top: calc(50% - 9px);
}

.question .question__content .question__items .question__item .question__check:checked + .question__q:after {
	content: "ー";
}

.question .question__content .question__items .question__item .question__a {
	height: 0;
	opacity: 0;
	padding: 0 68px 40px 82px;
	transition: .2s;
	visibility: hidden;
}

.question .question__content .question__items .question__item .question__check:checked + .question__q + .question__a {
	height: auto;
	line-height: 1.75;
	opacity: 1;
	padding: 0 68px 40px 82px;
	position: relative;
	visibility: visible;
}

.question .question__content .question__items .question__item .question__check:checked + .question__q + .question__a:before {
	color: #56AEDD;
	content: "A";
	font-size: 22px;
	font-weight: 600;
	left: 30px;
	position: absolute;
	top: 0px;
}

.reason p {
	font-size: 16px;
	line-height: 28px;
}

.reason .blue-text {
	color: #035aa6;
	font-size: 42px;
	font-weight: bold;
	line-height: 72px;
	text-align: center;
}

.reason .inner .title-box .reason-title {
	color: #6D7E8C;
	font-size: 20px;
	margin-bottom: 50px;
	margin-top: 95px;
	position: relative;
	text-align: center;
}

.reason .inner .title-box .reason-title::after {
	background-color: #6D7E8C;
	bottom: -15px;
	content: "";
	height: 20px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 100%);
	width: 0.1px;
}

.reason .inner .title-box .reason-free {
	background-color: #333;
	color: #FFF;
	font-size: 24px;
	line-height: 42px;
	margin: 0 auto;
	text-align: center;
	width: 59%;
}

.reason .inner .reasons {
	margin: 100px auto 0;
	width: 900px;
}

.reason .inner .reasons__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reason .inner .reasons__wrapper .reason__wrapper--item {
	border: 2px solid #01588E;
	box-shadow: 10px 10px 5px #FADD62;
	box-sizing: border-box;
	height: 483px;
	margin-bottom: 123px;
	position: relative;
	width: 400px;
}

.reason .inner .reasons__wrapper .reason__wrapper--item h4 {
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 30px;
	margin-top: 60px;
	text-align: center;
}

.reason .inner .reasons__wrapper .reason__wrapper--item p {
	margin: 0 auto;
	text-align: justify;
	width: 80%;
}

.reason .inner .reasons__wrapper .reason__wrapper--item .item-num {
	left: 40%;
	position: absolute;
	top: -47px;
}

.reason .inner .reasons__wrapper .reason__wrapper--item .item-num h3 {
	background-color: #FFF;
	color: #01588E;
	font-size: 50px;
	line-height: 78px;
	padding: 10px;
}

.reason .inner .reasons__wrapper .img {
	border: none !important;
	box-shadow: none;
}

.reason .inner .reasons__voice {
	background-color: #56AEDD;
	padding: 50px;
}

.reason .inner .reasons__voice h3 {
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
	line-height: 54px;
	margin-bottom: 50px;
	text-align: center;
}

.reason .inner .reasons__voice--inner {
	background-color: #FFF;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	margin: 0 auto 60px;
	padding: 47px 50px;
	position: relative;
	width: 800px;
}

.reason .inner .reasons__voice--inner--left {
	margin-right: 65px;
	width: 340px;
}

.reason .inner .reasons__voice--inner--left p {
	color: #56aedd;
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
}

.reason .inner .reasons__voice--inner--right {
	width: 300px;
}

.reason .inner .reasons__voice--inner ::before {
	border-color: #FFF transparent;
	border-style: solid;
	border-width: 40px 20px 0 0;
	bottom: -30px;
	content: '';
	display: block;
	left: 35%;
	margin-left: -10px;
	position: absolute;
	transform: rotate(25deg);
	z-index: 1;
}

.reason .inner .reasons__voice--graph {
	background-color: #FFF;
	display: flex;
	justify-content: space-around;
	margin: 50px auto 0;
	padding-bottom: 23px;
	padding-top: 30px;
	width: 1200px;
}

.reason .inner .reasons__voice .btn {
	background-color: #6D7E8C;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	margin: 50px auto 0;
	text-align: center;
	width: 390px;
}

.thanks p {
	font-size: 16px;
	line-height: 28px;
}

.thanks .text {
	margin: 126px auto 120px;
	width: 540px;
}

.thanks .text h3 {
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 60px;
	text-align: center;
}

.top {
	margin: 100px auto 0;
	padding-bottom: 110px;
	width: 1000px;
}

.top h2 {
	font-size: 42px;
	line-height: 72px;
	text-align: center;
}

.top h3 {
	background-color: #035aa6;
	color: #FFF;
	font-size: 24px;
	line-height: 42px;
	margin-top: 40px;
	text-align: center;
}

.top h3 span.yellow {
	color: #FADD62;
}

.top p.blue-bold {
	color: #035aa6;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 15px;
	text-align: center;
}

.top .top-text {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 650px;
}

.top .price-block {
	border: 1px solid #333;
	box-sizing: border-box;
	margin: 0 auto 40px;
	padding: 40px 30px 40px 40px;
	width: 650px;
}

.top .bg-gray {
	background-color: #F5F5F5;
	font-size: 16px;
	line-height: 28px;
	margin: 0 auto;
	padding: 20px;
	width: 650px;
}

.top .btn {
	background-color: #6D7E8C;
	border-radius: 5px;
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	margin: 50px auto 0;
	text-align: center;
	width: 390px;
}

.top .btn a {
	color: #FFF;
	text-decoration: none;
}

@media screen and (max-width: 1080px) {

.l-header .logo {
	width: 45%;
}

.l-header .logo a {
	width: 90%;
}

.l-header .logo a img {
	width: 100%;
}

.l-header .header-menu {
	display: none;
}

.l-header .navbtn {
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 80px;
	justify-content: center;
	position: relative;
	right: 0;
	width: 50px;
	z-index: 10;
}

.l-header .navbtn i {
	background-color: #333;
	display: block;
	height: 3px;
	position: absolute;
	transition: transform 0.5s, opacity 0.5s;
	width: 30px;
}

.l-header .navbtn i:nth-child(1) {
	top: 25px;
}

.l-header .navbtn i:nth-child(2) {
	bottom: 0;
	margin: auto;
	top: -10px;
}

.l-header .navbtn i:nth-child(3) {
	bottom: 35px;
}

.l-header .navbtn .navbtn_txt_menu {
	bottom: 5px;
	color: #333;
	font-size: 10px;
	position: absolute;
}

.l-header .navbtn .navbtn_txt_close {
	color: transparent;
	display: none;
	font-size: 10px;
}

.l-header .navbtn.active {
	position: fixed;
}

.l-header .navbtn.active .navbtn_txt_close {
	bottom: 5px;
	color: #0c2e5a;
	display: block;
	font-size: 10px;
	position: absolute;
}

.l-header .navbtn.active .navbtn_txt_menu {
	display: none;
}

.l-header .navbtn.active i {
	background-color: #0c2e5a;
}

.l-header .navbtn.active i:nth-child(1) {
	transform: translateY(9px) rotate(-45deg);
}

.l-header .navbtn.active i:nth-child(2) {
	opacity: 0;
}

.l-header .navbtn.active i:nth-child(3) {
	transform: translateY(-8px) rotate(45deg);
}

.l-header .header-contact {
	display: none;
}

}

@media screen and (max-width: 768px) and (max-width: 768px) {

.comments .inner {
	padding: 0 16px;
}

.comments .inner .comments-text {
	font-size: 20px;
}

.comments .inner .comments-text span {
	font-size: 42px;
}

.page-lists {
	margin-top: 60px;
}

.flow .section-flow .inner {
	padding: 0 16px;
}

.flow .section-flow .flow-title-box .flow-title__sub {
	font-size: 32px;
}

.flow .section-flow .flow-title-box .flow-free {
	font-size: 16px;
}

.flow .section-flow .step-item__illust-step {
	font-size: 18px;
}

.flow .section-flow .step-item__illust-step span {
	font-size: 42px;
}

._inner {
	padding: 0 16px;
}

.com-fv {
	height: 150px;
}

.com-fv ._page-title {
	font-size: 32px;
}

.com-fv ._page-title span {
	margin-right: 16px;
}

.com-fv ._page-title span img {
	width: 32px;
}

.page-info {
	margin-top: 14px;
}

.page-info .page-lists {
	margin-top: 60px;
}

.manga .illust .illust-inner {
	margin-top: 40px;
	padding: 16px;
}

.manga .illust .illust-title {
	font-size: 32px;
}

}

@media screen and (max-width: 768px) and (max-width: 599px) {

.comments .inner .comments-text {
	font-size: 16px;
}

.comments .inner .comments-text span {
	font-size: 24px;
}

.page-lists {
	margin-top: 30px;
}

.page-lists .page-lists__item a {
	font-size: 12px;
}

.page-lists .page-lists__item a::after {
	display: none;
}

.top-reason .title {
	font-size: 16px;
	margin-bottom: 20px;
}

.flow .section-flow .flow-title-box {
	margin-bottom: 40px;
	margin-top: 60px;
}

.flow .section-flow .flow-title-box .flow-title {
	font-size: 16px;
	margin-bottom: 20px;
}

.flow .section-flow .flow-title-box .flow-title__sub {
	font-size: 24px;
}

.flow .section-flow .step {
	margin-bottom: 60px;
}

.flow .section-flow .step-item {
	display: block;
}

.flow .section-flow .step-item:not(:last-child) {
	margin-bottom: 50px;
}

.flow .section-flow .step-item__illust {
	width: 100%;
}

.flow .section-flow .step-item__illust-step span {
	font-size: 32px;
}

.flow .section-flow .step-item__illust-icon {
	margin-top: 24px;
}

.flow .section-flow .step-item__text {
	box-sizing: border-box;
	margin-top: 20px;
	padding: 20px 16px;
	width: 100%;
}

.flow .section-flow .step-item__text-txt {
	font-size: 14px;
}

.flow .section-flow .step-item__text-txt__sub {
	padding: 15px;
}

.flow .section-flow .flow-alert {
	font-size: 14px;
}

.flow .section-flow .flow-document {
	display: block;
}

.flow .section-flow .flow-document__title {
	width: 100%;
}

.flow .section-flow .flow-document__title::after {
	height: 1px;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.flow .section-flow .flow-document__lists {
	width: 100%;
}

.flow .section-flow .flow-document__title,
.flow .section-flow .flow-document__lists {
	box-sizing: border-box;
	padding: 15px;
}

.flow .conform {
	padding-bottom: 25px;
	padding-top: 40px;
}

.flow .conform .inner {
	padding: 0 16px;
}

.flow .conform-title {
	font-size: 18px;
	margin-bottom: 25px;
}

.flow .conform-title span {
	margin-right: 10px;
	width: 50px;
}

.flow .conform-title span img {
	width: 50px;
}

.flow .conform-alert {
	margin-bottom: 25px;
}

.flow .conform-lists__item {
	padding: 15px 0;
}

.flow .conform-lists__item__title {
	font-size: 18px;
	padding: 0 26px 0 16px;
}

.flow .conform-lists__item__text {
	margin-top: 15px;
	padding: 0 26px;
}

.com-fv ._page-title {
	font-size: 24px;
}

.com-fv ._page-title span {
	margin-right: 10px;
}

.com-fv ._page-title span img {
	width: 24px;
}

.page-info .page-lists {
	margin-top: 30px;
}

.page-info .page-lists .page-lists__item a {
	font-size: 12px;
}

.page-info .page-lists .page-lists__item a::after {
	display: none;
}

.manga .illust .illust-title {
	font-size: 24px;
}

}

@media screen and (max-width: 599px) and (max-width: 768px) {

.comments .inner {
	padding: 0 16px;
}

.comments .inner .comments-text {
	font-size: 20px;
}

.comments .inner .comments-text span {
	font-size: 42px;
}

.page-lists {
	margin-top: 60px;
}

.flow .section-flow .inner {
	padding: 0 16px;
}

.flow .section-flow .flow-title-box .flow-title__sub {
	font-size: 32px;
}

.flow .section-flow .flow-title-box .flow-free {
	font-size: 16px;
}

.flow .section-flow .step-item__illust-step {
	font-size: 18px;
}

.flow .section-flow .step-item__illust-step span {
	font-size: 42px;
}

._inner {
	padding: 0 16px;
}

.com-fv {
	height: 150px;
}

.com-fv ._page-title {
	font-size: 32px;
}

.com-fv ._page-title span {
	margin-right: 16px;
}

.com-fv ._page-title span img {
	width: 32px;
}

.page-info {
	margin-top: 14px;
}

.page-info .page-lists {
	margin-top: 60px;
}

.manga .illust .illust-inner {
	margin-top: 40px;
	padding: 16px;
}

.manga .illust .illust-title {
	font-size: 32px;
}

}

@media screen and (max-width: 599px) and (max-width: 599px) {

.comments .inner .comments-text {
	font-size: 16px;
}

.comments .inner .comments-text span {
	font-size: 24px;
}

.page-lists {
	margin-top: 30px;
}

.page-lists .page-lists__item a {
	font-size: 12px;
}

.page-lists .page-lists__item a::after {
	display: none;
}

.top-reason .title {
	font-size: 16px;
	margin-bottom: 20px;
}

.flow .section-flow .flow-title-box {
	margin-bottom: 40px;
	margin-top: 60px;
}

.flow .section-flow .flow-title-box .flow-title {
	font-size: 16px;
	margin-bottom: 20px;
}

.flow .section-flow .flow-title-box .flow-title__sub {
	font-size: 24px;
}

.flow .section-flow .step {
	margin-bottom: 60px;
}

.flow .section-flow .step-item {
	display: block;
}

.flow .section-flow .step-item:not(:last-child) {
	margin-bottom: 50px;
}

.flow .section-flow .step-item__illust {
	width: 100%;
}

.flow .section-flow .step-item__illust-step span {
	font-size: 32px;
}

.flow .section-flow .step-item__illust-icon {
	margin-top: 24px;
}

.flow .section-flow .step-item__text {
	box-sizing: border-box;
	margin-top: 20px;
	padding: 20px 16px;
	width: 100%;
}

.flow .section-flow .step-item__text-txt {
	font-size: 14px;
}

.flow .section-flow .step-item__text-txt__sub {
	padding: 15px;
}

.flow .section-flow .flow-alert {
	font-size: 14px;
}

.flow .section-flow .flow-document {
	display: block;
}

.flow .section-flow .flow-document__title {
	width: 100%;
}

.flow .section-flow .flow-document__title::after {
	height: 1px;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.flow .section-flow .flow-document__lists {
	width: 100%;
}

.flow .section-flow .flow-document__title,
.flow .section-flow .flow-document__lists {
	box-sizing: border-box;
	padding: 15px;
}

.flow .conform {
	padding-bottom: 25px;
	padding-top: 40px;
}

.flow .conform .inner {
	padding: 0 16px;
}

.flow .conform-title {
	font-size: 18px;
	margin-bottom: 25px;
}

.flow .conform-title span {
	margin-right: 10px;
	width: 50px;
}

.flow .conform-title span img {
	width: 50px;
}

.flow .conform-alert {
	margin-bottom: 25px;
}

.flow .conform-lists__item {
	padding: 15px 0;
}

.flow .conform-lists__item__title {
	font-size: 18px;
	padding: 0 26px 0 16px;
}

.flow .conform-lists__item__text {
	margin-top: 15px;
	padding: 0 26px;
}

.com-fv ._page-title {
	font-size: 24px;
}

.com-fv ._page-title span {
	margin-right: 10px;
}

.com-fv ._page-title span img {
	width: 24px;
}

.page-info .page-lists {
	margin-top: 30px;
}

.page-info .page-lists .page-lists__item a {
	font-size: 12px;
}

.page-info .page-lists .page-lists__item a::after {
	display: none;
}

.manga .illust .illust-title {
	font-size: 24px;
}

}

