.about {
    padding-top: 45px;
    .com-fv{
        ._page-title{
            ._image{
                width:46px;
                margin-right:38px;
                img {
                    width: 100%;
                }
            }
        }
    }
    p {
        line-height: 28px;
        font-size: 16px;
    }
    .blue-text {
        font-size: 42px;
        line-height: 72px;
        text-align: center;
        color: #035aa6;
        font-weight: bold;
        @media screen and (max-width: 767px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    .about-section {
        .inner {
            .about-title-box {
                .about-title {
                    margin-top: 95px;
                    text-align: center;
                    position: relative;
                    color: #6D7E8C;
                    font-size: 20px;
                    margin-bottom: 50px;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 0.1px;
                        height: 20px;
                        background-color: #6D7E8C;
                        transform: translate(-50% ,100%);
                        bottom: -15px;
                        left: 50%;
                    }
                }
                .about-title__sub {
                    font-size: 42px;
                    line-height: 72px;
                    text-align: center;
                    color: #035aa6;
                    font-weight: bold;
                    @media screen and (max-width: 767px) {
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                }
                .about-free {
                    background-color: #333;
                    color: #FFF;
                    font-size: 24px;
                    line-height: 42px;
                    width: 800px;
                    margin: 45px auto 0;
                    text-align: center;
                    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
                    .gold {
                        color: #FADD62;
                    }
                    @media screen and (max-width: 767px) {
                        margin-top: 20px;
                        width: 90%;
                        font-size: 1.2rem;
                    }
                }
            }
            .about-title-text {
                width: 47%;
                margin: 0 auto 110px;
                .upper {
                    margin: 60px auto 80px;
                }
                .lower {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
                @media screen and (max-width: 767px) {
                    width: 90%;
                    text-align: justify;
                    .lower {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .about-background {
                background-color: #F5F5F5;
                padding-bottom: 122px;
                padding-top: 50px;
                position: relative;
                ::before {
                    border-color: #F5F5F5 transparent;
                    border-style: solid;
                    border-width: 20px 20px 0 20px;
                    bottom: -20px;
                    content: '';
                    display: block;
                    left: 50%;
                    margin-left: -10px;
                    position: absolute;
                    z-index: 1;
                }
                h2 {
                    font-size: 24px;
                    line-height: 142px;
                    font-weight: bold;
                    background-image: url('https://todokede.sakura.ne.jp/ne2/wp-content/uploads/2021/12/ouen-bg.png');
                    background-repeat: no-repeat;
                    background-position-x: center;
                    text-align: center;
                    @media screen and (max-width: 767px) {
                        font-size: 2rem;
                        line-height: 142px;
                    }
                }
                &-text {
                    margin-top: 45px;
                    background-color: #FFF;
                    padding-top: 50px;
                    padding-bottom: 22px;
                    p {
                        width: 48%;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 28px;
                        @media screen and (max-width: 767px) {
                            width: 90%;
                            text-align: justify;
                        }
                    }
                }
                .blue-text {
                    margin-top: 0;
                }
            }
            .about-suggest {
                background-color: #035aa6;
                color: #FFF;
                line-height: 42px;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                padding-top: 45px;
                padding-bottom: 45px;
                @media screen and (max-width: 767px) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            .about__campain {
                padding-top: 115px;
                @media screen and (max-width: 767px) {
                    padding-top: 60px;
                }
                .blue-text {
                    margin-top: 0;
                }
                .center {
                    text-align: center;
                    margin-bottom: 45px;
                    .big {
                        line-height: 28px;
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
                h3 {
                    font-size: 24px;
                    text-align: center;
                    font-weight: bold;
                    line-height: 42px;
                }
                h3.title {
                    line-height: 110px;
                    font-weight: bold;
                    background-image: url('https://todokede.sakura.ne.jp/ne2/wp-content/uploads/2021/12/about-ttl2.png');
                    background-repeat: no-repeat;
                    background-position-x: center;
                    text-align: center;
                }
                .inner {
                    border: 1px solid #333;
                    padding: 40px 30px 40px 40px;
                    margin: 0 auto 20px;
                    width: 650px;
                    @media screen and (max-width: 767px) {
                        width: 90%;
                        box-sizing: border-box;
                    }
                }
                .bottom-h {
                    margin: 84px auto 34px;
                }
            }
        }
    }
}