.company{
    padding-top: 45px;
    @media screen and (max-width:767px) {
        padding-top: 35px;
    }
    .com-fv{
        ._page-title{
            
            img{
                width: 48px;
                height: auto;
                @include mobile{
                    @media screen and (max-width: $tab){
                        width: 40px;
                    }
                    @media screen and (max-width: $sp){
                        width: 30px;
                    }
                }
            }
        }
    }
    .page-info{
        margin-bottom: 97px;
        @include mobile{
            @media screen and (max-width: $tab){
                margin-bottom: 60px;
            }
            @media screen and (max-width: $sp){
                
            }
        }
    }
    .company-inner{
        max-width: 800px;
        padding: 0 32px;
        margin: auto;
        box-sizing: content-box;
        @include mobile{
            @media screen and (max-width: $tab){
                padding: 0 16px;
            }
            @media screen and (max-width: $sp){
                
            }
        }
    }
    .info{
        margin-bottom: 80px;
        @include mobile{
            @media screen and (max-width: $tab){
                margin-bottom: $padding-pc;
            }
            @media screen and (max-width: $sp){
                margin-bottom: $padding-sp;
            }
        }
        .info-wrap{
            justify-content: space-between;
            @include mobile{
                @media screen and (max-width: $tab){
                    display: block;
                }
                @media screen and (max-width: $sp){
                    
                }
            }
            .info__company{
                width: 50%;
                @include mobile{
                    @media screen and (max-width: $tab){
                        width: 100%;
                        margin-bottom: 16px;
                    }
                    @media screen and (max-width: $sp){
                        
                    }
                }
                table{
                    @include mobile{
                        @media screen and (max-width: $tab){
                            tbody{
                                width: 100%;
                            }
                        }
                        @media screen and (max-width: $sp){
                        }
                    }
                    tr{
                        width: 100%;
                        &:not(:last-child){
                            td{
                                padding-bottom: 30px;
                                @include mobile{
                                    @media screen and (max-width: $tab){
                                        padding-bottom: 12px;
                                    }
                                    @media screen and (max-width: $sp){
                                        
                                    }
                                }
                            }
                        }
                        td{
                            font-size: 14px;
                            line-height: 1.75em;	
                            @include mobile{
                                @media screen and (max-width: $tab){
                                }
                                @media screen and (max-width: $sp){
                                    font-size: 12px;
                                }
                            }
                            &:first-child{
                                text-align: right;
                                border-right: 1px solid #707070;
                                padding-right: 20px;
                                font-weight: bold;
                                width: 80px ;
                                box-sizing: content-box;
                                @include mobile{
                                    @media screen and (max-width: $tab){
                                        width: 30%;
                                    }
                                    @media screen and (max-width: $sp){
                                        width: 25%;
                                    }
                                }
                            }
                            &:last-child{
                                padding-left: 20px;
                                @include mobile{
                                    @media screen and (max-width: $tab){
                                        width: 70%;
                                        .sp_display_none{
                                            display: none;
                                        }
                                    }
                                    @media screen and (max-width: $sp){
                                        
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .info__map-privacy{
                    margin-top: 16px;
                    align-items: center;
                    @include mobile{
                        @media screen and (max-width: $tab){
                            margin-top: 10px;
                        }
                        @media screen and (max-width: $sp){
                            
                        }
                    }
                    img{
                        width: 65px;
                        height: 65px;
                        margin-bottom: 22px;
                        @include mobile{
                            @media screen and (max-width: $tab){
                                width: 50px;
                                height: 50px;
                                margin-bottom: 16px;
                            }
                            @media screen and (max-width: $sp){
                                
                            }
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.75em;
                        margin-left: 20px;
                        @include mobile{
                            @media screen and (max-width: $tab){
                                font-size: 12px;
                                margin-left: 14px;
                            }
                            @media screen and (max-width: $sp){
                                
                            }
                        }
                    }
                }
            }
            .info__map{
                width: 50%;
                position: relative;
                @include mobile{
                    @media screen and (max-width: $tab){
                        width: 100%;
                        position: inherit;
                    }
                    @media screen and (max-width: $sp){
                        
                    }
                }
                iframe{
                    width: 100%;
                    height: 300px;
                    
                }
            }
        }
    }
    .site{
        margin-bottom: 80px;
        @include mobile{
            @media screen and (max-width: $tab){
                margin-bottom: $padding-pc;
            }
            @media screen and (max-width: $sp){
                margin-bottom: $padding-sp;
            }
        }
        .company-inner{
            padding: 45px 90px;
            background-color: #F5F5F5;
            box-sizing: border-box;
            @include mobile{
                @media screen and (max-width: $tab){
                    padding: 24px 42px;
                    text-align: center;
                }
                @media screen and (max-width: $sp){
                    padding: 24px;
                }
            }
            .site-title{
                text-align: center;
                font-size: 18px;
                margin-bottom: 60px;
                @include mobile{
                    @media screen and (max-width: $tab){
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    @media screen and (max-width: $sp){
                        
                    }
                }
            }
            .site-inner{
                justify-content: space-between;
                @include mobile{
                    @media screen and (max-width: $tab){
                        display: block;
                    }
                    @media screen and (max-width: $sp){
                        
                    }
                }
                .site__text-wrap{
                    width: calc(65% - 20px);
                    margin-right: 20px;
                    @include mobile{
                        @media screen and (max-width: $tab){
                            width: 100%;
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                        @media screen and (max-width: $sp){
                            
                        }
                    }
                    .site__text{
                        font-size: 14px;
                        line-height: 1.75em;
                        span{
                            display: inline-block;
                        }
                        a{
                            color: #56AEDD;
                            text-decoration: none;
                            transition: all .3s;
                            &:hover{
                                opacity: $opacity;
                            }
                        }
                    }
                }
                .site__img{
                    width: 35%;
                    @include mobile{
                        @media screen and (max-width: $tab){
                            width: 50%;
                            margin: auto;
                        }
                        @media screen and (max-width: $sp){
                            width: 70%;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .media{
        margin-bottom: 80px;
        @include mobile{
            @media screen and (max-width: $tab){
                margin-bottom: $padding-pc;
            }
            @media screen and (max-width: $sp){
                margin-bottom: $padding-sp;
            }
        }
        .company-inner{
            .media-title{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 50px;
                text-align: center;
                @include mobile{
                    @media screen and (max-width: $tab){
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    @media screen and (max-width: $sp){
                        
                    }
                }
                
            }
            .media-lists{
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: -72px;
                @include mobile{
                    @media screen and (max-width: $tab){
                        margin-bottom: -24px;
                    }
                    @media screen and (max-width: $sp){
                    }
                }
                .media-lists__item{
                    list-style: none;
                    width: 42.8571429%;
                    text-align: center;
                    margin-bottom: 72px;
                    @include mobile{
                        @media screen and (max-width: $tab){
                            width: 45%;
                            margin-bottom: 24px;
                        }
                        @media screen and (max-width: $sp){
                            
                        }
                    }
                    img{
                        width: 100%;
                        height: 85px;
                        @include mobile{
                            @media screen and (max-width: $tab){
                                height: 70px;
                            }
                            @media screen and (max-width: $sp){
                                height: 60px;
                            }
                        }
                    }
                    p{
                        font-size: 14px;
                        @include mobile{
                            @media screen and (max-width: $tab){
                                font-size: 12px;
                            }
                            @media screen and (max-width: $sp){
                                
                            }
                        }
                    }
                }
            }
        }
    }
}