.contact {
    .contact__content {
        width: 600px;
        margin: 90px auto 60px;
        line-height: 28px;
        @media screen and (max-width: 767px) {
            width: 85%;
        }
    }
}

.contact-form {
    width: 540px;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
        width: 85%;
    }
    .mw_wp_form {
        form {
            table {
                tbody {
                    tr {
                        display: block;
                        .form__item {
                            margin-bottom: 5px;
                            margin-top: 20px;
                        }
                        th {
                            margin-top: 50px;
                            display: block;
                            text-align: initial;
                            .required {
                                background-color: #E3560C;
                                color: #FFF;
                                padding: 5px 7px;
                                border-radius: 3px;
                                margin-right: 15px;
                                display: inline-block;
                                margin-bottom: 10px;
                            }
                        }
                        td {
                            line-height: 28px;
                            p {
                                input {
                                    background-color: #F4F4F4;
                                    height: 50px;
                                    width: 540px;
                                    border: none;
                                    box-sizing: border-box;
                                    @media screen and (max-width: 767px) {
                                        width: 100%;
                                    }
                                }
                            }
                            select {
                                display: inline-block;
                            }
                            textarea {
                                background-color: #F4F4F4;
                                width: 540px;
                                border: none;
                                height: 300px;
                                resize: none;
                                box-sizing: border-box;
                                @media screen and (max-width: 767px) {
                                    width: 100%;
                                }
                            }
                            .mwform-radio-field {
                                label {
                                    span {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        a {
                            color: #56AEDD;
                            text-decoration: none;
                        }
                        td.d-flex {
                            display: flex;
                        }
                    }
                }
            }
            .confirm-btn {
                button {
                    background-color: #FADD62;
                    width: fit-content;
                    margin: 80px auto 120px;
                    display: block;
                    border-radius: 3px;
                    border: 2px solid #333;
                    font-weight: bold;
                }
            }
        }
    }
}
