//共通スタイル
._flex{
    display: flex;
}

._inner{
    max-width: 1000px;
    margin: auto;
    box-sizing: content-box !important;
    padding: 0 32px;
    @include mobile{
        @media screen and (max-width: $tab){
            padding: 0 16px;
        }
    }
}

// パンクず
.page-info{
    margin-top: 18px;
    @include mobile{
        @media screen and (max-width: $tab){
            margin-top: 14px;
        }
    }
    .pan-kuzu{
        font-size: 13px;
        line-height: 28px;
    }
    .page-lists{
        margin-top: 90px;
        border-bottom: 1px solid #707070 ;
        @include mobile{
            @media screen and (max-width: $tab){
                margin-top: 60px;
            }
            @media screen and (max-width: $sp){
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                border-bottom: none;
            }
        }
        .page-lists__item{
            list-style: none;
            width: 25%;
            border-right: 1px solid #707070 ;
            border-left: 1px solid #707070 ;
            @include mobile{
                width: 49%;
                border: 1px solid #707070;
                &:nth-child(2) {
                    border-bottom: none !important;
                }
                &:nth-child(3) {
                    border-right: none !important;
                }
                &.manga-li {
                    border-bottom: 1px solid #707070;
                }
            }
            a{
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                color: #333;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                transition: all .3s;
                @include mobile{
                    @media screen and (max-width: $sp){
                        font-size: 12px;
                    }
                }
                &::after{
                    position: absolute;
                    content: "＞";
                    font-size: 10px;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    right: 10px;
                    color: #333;
                    transition: all .3s;
                    @include mobile{
                        @media screen and (max-width: $sp){
                            display: none;
                        }
                    }
                }
                &:hover{
                    opacity: $opacity;
                    &::after{
                        right: 5px;
                    }
                }
            }
        }
        .current-page{
            background-color: #01588E;
            border-right: 1px solid #01588E;
            border-left: 1px solid #01588E;
            a{
                color: #fff;
                &::after{
                    display: none;
                }
            }
        }
    }
}


.manga{
    //manga
    padding-top: 45px;
    .illust{
        .illust-inner{
            margin: 92px auto 60px auto;
            box-sizing: border-box;
            max-width: 706px;
            width: 100%;
            padding: 0 32px;
            @include mobile{
                @media screen and (max-width: $tab){
                    padding: 16px;
                    margin-top: 40px;
                }
            }
        }
        .illust-title{
            font-size: 42px;
            text-align: center;
            color: #035AA6;
            line-height: 1.71428;
            @include mobile{
                @media screen and (max-width: $tab){
                    font-size: 32px;
                }
                @media screen and (max-width: $sp){
                    font-size: 24px;
                }
            }
        }
        figure{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}