.paper {
    color:#333;
    box-sizing:border-box;
    img{
        max-width:100%;
      }
    a{
        text-decoration:none;
    }
    
    .com-fv{
        ._page-title{
          ._image{
            width:46px;
            margin-right:38px;
          }
        }
    }

    .paper__menu{
        ._inner{
            display:flex;
            justify-content:center;
            a{
                color:#6D7E8C;
                padding:12px 30px;
                border: 2px solid #6D7E8C;
                border-radius: 20px;
                margin:40px 20px 0;
            }
        }
    }

    .blue-text {
        font-size: 42px;
        text-align: center;
        color: #035aa6;
        font-weight: bold;
        margin:100px 0 60px;
    }

    .paper__document{
        .papper__document__top{
            width:650px;
            line-height:1.75;
            margin:0 auto 60px;
            &:nth-child(2){
                padding-bottom:30px;
            }
        }

        .papper__document__table{
            table-layout: fixed;
            width: 100%;
            tr{
                th{
                    color:#fff;
                    background:#01588E;
                    font-weight:600;
                    text-align:center;
                    padding:7px 0;
                    border: 1px solid #707070;
                    &:first-child{
                        width:21%;
                        border-right:2px solid #fff;
                    }
                    &:nth-child(2){
                        width:46%;
                        border-right:2px solid #fff;
                        border-left:2px solid #fff;
                    }
                    &:nth-child(3){
                        width:33%;
                        border-right:2px solid #fff;
                    }
                }
                td{
                    border: 1px solid #707070;
                    padding:20px 30px;
                    vertical-align:middle;
                    line-height:1.75;
                    &:first-child{
                        background:#F5F5F5;
                        font-weight:600;
                    }
                }
            }
        }

    }
    &-middle {
        padding: 100px;
        h2 {
            margin-bottom: 60px;
        }
        h4 {
            text-align: center;
        }
        .paper__method1__caution {
            width: fit-content;
            margin: 0 auto;
            background-color: #EDF9FF;
            padding: 40px 140px;
            h4 {
                text-align: center;
            }
            p {
                width: 650px;
            }
        }
        .two-cols {
            display: flex;
            margin-bottom: 113px;
            justify-content: center;
            .left, .right {
                background-color: #F5F5F5;
                h3 {
                    color: #035aa6;
                    font-weight: bold;
                }
            }
            .left {
                width: 276px;
                box-sizing: border-box;
                margin-right: 80px;
            }
            .right {
                width: 362px;
                box-sizing: border-box;
            }
        }
        .bold {
            font-weight: bold;
            font-size: 24px;
            line-height: 42px;
        }
    }
}