.reason {
    p {
        font-size: 16px;
        line-height: 28px;
    }
    .blue-text {
        font-size: 42px;
        line-height: 72px;
        text-align: center;
        color: #035aa6;
        font-weight: bold;
    }
    .inner {
        .title-box {
            .reason-title {
                margin-top: 95px;
                text-align: center;
                position: relative;
                color: #6D7E8C;
                font-size: 20px;
                margin-bottom: 50px;
                &::after{
                    position: absolute;
                    content: "";
                    width: 0.1px;
                    height: 20px;
                    background-color: #6D7E8C;
                    transform: translate(-50% ,100%);
                    bottom: -15px;
                    left: 50%;
                }
            }
            .reason-free {
                background-color: #333;
                color: #FFF;
                font-size: 24px;
                line-height: 42px;
                width: 59%;
                margin: 0 auto;
                text-align: center;
            }
        }
        .reasons {
            width: 900px;
            margin: 100px auto 0;
            &__wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .reason__wrapper--item {
                    border: 2px solid #01588E;
                    width: 400px;
                    height: 483px;
                    box-sizing: border-box;
                    margin-bottom: 123px;
                    position: relative;
                    box-shadow: 10px 10px 5px #FADD62;
                    h4 {
                        margin-top: 60px;
                        font-size: 24px;
                        line-height: 42px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    p {
                        width: 80%;
                        margin: 0 auto;
                        text-align: justify;
                    }
                    .item-num {
                        position: absolute;
                        top: -47px;
                        left: 40%;
                        h3 {
                            font-size: 50px;
                            padding: 10px;
                            color: #01588E;
                            background-color: #FFF;
                            line-height: 78px;
                        }
                    }
                }
                .img {
                    border: none !important;
                    box-shadow: none;
                }
            }
        }
        .reasons__voice {
            background-color: #56AEDD;
            padding: 50px;
            h3 {
                font-size: 36px;
                line-height: 54px;
                text-align: center;
                font-weight: bold;
                color: #FFF;
                margin-bottom: 50px;
            }
            &--inner {
                background-color: #FFF;
                padding: 47px 50px;
                display: flex;
                width: 800px;
                box-sizing: border-box;
                border-radius: 5px;
                position: relative;
                margin: 0 auto 60px;
                &--left {
                    margin-right: 65px;
                    width: 340px;
                    p {
                        color: #56aedd;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 42px;
                    }
                }
                &--right {
                    width: 300px;
                }
                ::before {
                    content: '';
                    position: absolute;
                    display: block;
                    z-index: 1;
                    border-style: solid;
                    border-color: #FFF transparent;
                    border-width: 40px 20px 0 0;
                    bottom: -30px;
                    transform: rotate(25deg);
                    left: 35%;
                    margin-left: -10px;
                }
            }
            &--graph {
                width: 1200px;
                margin: 50px auto 0;
                justify-content: space-around;
                background-color: #FFF;
                display: flex;
                padding-top: 30px;
                padding-bottom: 23px;
            }
            .btn {
                background-color: #6D7E8C;
                border-radius: 5px;
                width: 390px;
                cursor: pointer;
                text-align: center;
                height: 45px;
                line-height: 45px;
                color: #FFF;
                margin: 50px auto 0;
            }
        }
    }
}