.reason {
    padding-top: 75px;
    .com-fv{
        ._page-title{
            ._image{
                width:46px;
                margin-right:38px;
                img {
                    width: 100%;
                }
            }
        }
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
    .blue-text {
        font-size: 42px;
        line-height: 72px;
        text-align: center;
        color: #035aa6;
        font-weight: bold;
        @media screen and (max-width: 767px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    .inner {
        .title-box {
            .reason-title {
                margin-top: 95px;
                text-align: center;
                position: relative;
                color: #6D7E8C;
                font-size: 20px;
                margin-bottom: 50px;
                &::after{
                    position: absolute;
                    content: "";
                    width: 0.1px;
                    height: 20px;
                    background-color: #6D7E8C;
                    transform: translate(-50% ,100%);
                    bottom: -15px;
                    left: 50%;
                }
            }
            .reason-free {
                background-color: #333;
                color: #FFF;
                font-size: 24px;
                line-height: 42px;
                width: 59%;
                margin: 0 auto;
                text-align: center;
            }
        }
        .reasons {
            width: 900px;
            margin: 100px auto 0;
            @media screen and (max-width: 767px) {
                padding-bottom: 50px;
            }
            &__wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .reason__wrapper--item {
                    border: 2px solid #01588E;
                    width: 400px;
                    height: 483px;
                    box-sizing: border-box;
                    margin-bottom: 123px;
                    position: relative;
                    box-shadow: 10px 10px 5px #FADD62;
                    @media screen and (max-width: 767px) {
                        &:last-child {
                            margin-bottom: 0;
                            height: auto;
                        }
                    }
                    h4 {
                        margin-top: 60px;
                        font-size: 24px;
                        line-height: 42px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    p {
                        width: 82%;
                        margin: 0 auto;
                        text-align: justify;
                    }
                    .item-num {
                        position: absolute;
                        top: -47px;
                        left: 40%;
                        h3 {
                            font-size: 50px;
                            padding: 10px;
                            color: #01588E;
                            background-color: #FFF;
                            line-height: 78px;
                        }
                    }
                }
                .img {
                    border: none !important;
                    box-shadow: none;
                    padding-top: 100px;
                    margin: 0 auto 50px;
                    @media screen and (max-width: 767px) {
                        width: 90%;
                        padding-top: 0;
                        img {
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                width: 90%;
            }
        }
        .reasons__voice {
            background-color: #56AEDD;
            padding: 50px;
            @media screen and (max-width: 767px) {
                padding: 2%;
            }
            h3 {
                font-size: 36px;
                line-height: 54px;
                text-align: center;
                font-weight: bold;
                color: #FFF;
                margin-bottom: 50px;
                .yellow {
                    color: #FADD62;
                    font-size: 42px;
                }
            }
            &--inner {
                background-color: #FFF;
                padding: 47px 50px;
                display: flex;
                width: 800px;
                box-sizing: border-box;
                border-radius: 5px;
                position: relative;
                margin: 0 auto 60px;
                @media screen and (max-width: 767px) {
                    width: 90%;
                    display: block;
                    padding: 15px;
                }
                &--left {
                    margin-right: 65px;
                    width: 340px;
                    p {
                        color: #56aedd;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 42px;
                    }
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                &--right {
                    width: 300px;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                ::before {
                    content: '';
                    position: absolute;
                    display: block;
                    z-index: 1;
                    border-style: solid;
                    border-color: #FFF transparent;
                    border-width: 40px 20px 0 0;
                    bottom: -30px;
                    transform: rotate(25deg);
                    left: 35%;
                    margin-left: -10px;
                }
            }
            &--graph {
                width: 1200px;
                margin: 50px auto 0;
                justify-content: space-around;
                background-color: #FFF;
                display: flex;
                padding-top: 30px;
                padding-bottom: 10px;
                @media screen and (max-width: 767px) {
                    width: 90%;
                    display: block;
                }
                .one {
                    @media screen and (max-width: 767px) {
                        width: 90%;
                        margin: 0 auto 30px;
                    }
                    h4 {
                        margin-bottom: 35px;
                    }
                    .mb-10 {
                        margin-bottom: 25px;
                    }
                    .gold, .silver, .bronze {
                        color: #FFF;
                        line-height: 30px;
                        border-radius: 50%;
                    }
                    .num {
                        text-align: center;
                        width: 30px;
                        margin-right: 15px;
                        height: 30px;
                        margin-bottom: 15px;
                        display: inline-block;
                    }
                    .gold {
                        background-color: #D9AA1E;
                    }
                    .silver {
                        background-color: #C7D1D9;
                    }
                    .bronze {
                        background-color: #BF6E26;
                    }
                }
            }
            .btn {
                background-color: #6D7E8C;
                border-radius: 5px;
                width: 390px;
                cursor: pointer;
                text-align: center;
                height: 45px;
                line-height: 45px;
                color: #FFF;
                margin: 50px auto 50px;
            }
        }
    }
}