.top {
    width: 1000px;
    margin: 100px auto 0;
    padding-bottom: 110px;
    @media screen and (max-width: 1080px) {
        width: 100%;
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: center;
        }
        h3 {
            background-color: #035aa6;
            color: #FFF;
            font-size: 24px;
            line-height: 42px;
            text-align: center;
            margin-top: 40px;
            span.yellow {
                color: #FADD62;
            }
        }
    }
    h2 {
        font-size: 42px;
        line-height: 72px;
        text-align: center;
    }
    h3 {
        background-color: #035aa6;
        color: #FFF;
        font-size: 24px;
        line-height: 42px;
        text-align: center;
        margin-top: 40px;
        span.yellow {
            color: #FADD62;
        }
    }
    p.blue-bold {
        color: #035aa6;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .top-text {
        width: 650px;
        margin-bottom: 40px;
        line-height: 28px;
        margin: 0 auto;
        @media screen and (max-width:767px) {
            width: 90%;
        }
    }
    .price-block {
        margin: 0 auto 40px;
        width: 650px;
        box-sizing: border-box;
        border: 1px solid #333;
        padding: 40px 30px 40px 40px;
        @media screen and (max-width:767px) {
            width: 90%;
        }
    }
    .bg-gray {
        width: 650px;
        font-size: 16px;
        line-height: 28px;
        background-color: #F5F5F5;
        padding: 20px;
        margin: 0 auto;
        @media screen and (max-width:767px) {
            box-sizing: border-box;
            width: 90%;
        }
    }
    .btn {
        background-color: #6D7E8C;
        border-radius: 5px;
        cursor: pointer;
        height: 45px;
        line-height: 45px;
        margin: 50px auto 0;
        text-align: center;
        width: 390px;
        a {
            text-decoration: none;
            color: #FFF;
        }
		@media screen and (max-width:425px) {
			width: 90%;
            a {
				font-size: 14px;
			}
        }
    }
}

.sp-br {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}