.l-footer {
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-bottom: 20px;
	.footer-menu {
		width: fit-content;
		margin: 0 auto 30px;
		@media screen and (max-width: 767px) {
			width: 80%;
		}
		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			li {
				border-right: 2px solid #888;
				padding-left: 50px;
				padding-right: 50px;
				margin-bottom: 15px;
				a {
					text-decoration: none;
					font-size: 13px;
					color: #333;
				}
				&:last-child {
					border-right: none;
				}
			}
			@media screen and (max-width: 767px) {
				display: block;
				li {
					border-right: none;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.copyright {
		text-align: center;
		font-size: 13px;
	}
}