.appeal {
	padding-top: 120px;
	padding-bottom: 120px;
	background-image: url(../img/bg01.png);
	background-size: cover;
	h1 {
		font-size: 42px;
		line-height: 72px;
		text-align: center;
		color: #01588E;
		margin-bottom: 80px;
	}
	p {
		text-align: center;
		font-size: 1rem;
		line-height: 2rem;
		margin-bottom: 50px;
		.bold {
			font-weight: bold;
		}
	}
	h2, h4 {
		text-align: center;
	}
}