.top-customer-voice {
    padding-top: 100px;
    .sp-none {
        display: flex;
        width: 100%;
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    .title{
        position: relative;
        color: #6D7E8C;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        @include mobile{
            @media screen and (max-width: $tab){
            }
            @media screen and (max-width: $sp){
                margin-bottom: 20px;
                font-size: 16px;
            }
        }
        &::after{
            position: absolute;
            content: "";
            width: 0.1px;
            height: 20px;
            background-color: #6D7E8C;
            transform: translate(-50% ,100%);
            bottom: -15px;
            left: 50%;
        }
    }
    h3 {
        font-size: 42px;
        color: #035AA6;
        line-height: 1.714285em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 90px;
    }
    .btn {
        background-color: #6D7E8C;
        border-radius: 5px;
        cursor: pointer;
        height: 45px;
        line-height: 45px;
        margin: 50px auto 0;
        text-align: center;
        width: 390px;
        a {
            text-decoration: none;
            color: #FFF;
        }
    }
}