/* -------------------------- common ------------------------------ */
/* -------------------------- common ------------------------------ */
/* ------------- page top ------------- */
/* ------------- page top ------------- */
.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mt-30px {
    margin-top: 30px !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.color-yellow {
    color: #FADD62 !important;
}

.color-blue {
    color: #01588E !important;
}

.align_center_660 {
    max-width: 660px;
    margin: auto;
}

.align_center_1000 {
    max-width: 1000px;
    margin: auto;
}

.align_center_1200 {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: Hiragino Kaku Gothic ProN;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0px 3px 6px #00000029;
}

.top-background_parallax {
    background: url('https://todokede.sakura.ne.jp/ne2/wp-content/uploads/2021/12/com-fv-bg-1.jpg');
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    background-size: cover;
    z-index: -5;
    @media screen and (max-width:767px) {
        background-position-x: center;
    }
}

.l-header {
    .header-menu {
        nav {
            ul {
                li {
                    a {
                        color: var(--unnamed-color-333333);
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .header-contact {
        .tel {
            .inner {
                p {
                    .fa-phone-alt {
                        font-size: 20px;
                        color: #01588E;
                    }
                }
            }
        }
    }
}

.top-banner {
    height: 570px;
    padding-top: 80px;
}

.top-banner_content {
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 70px 0;
    @media screen and (max-width:767px) {
        width: 100%;
        padding-top: 30px;
        img {
            width: 100%;
        }
    }
    .block-content_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:767px) {
            display: block;
        }
        .content-left {
            @media screen and (max-width:767px) {
                display: block;
                width: 45%;
                margin: 0 auto 15px;
            }
            p {
                font-size: 25px;
            }

            display: flex;
            margin-right: 35px;
        }

        .content-right {
            border: 1px solid white;
            border-radius: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 16px;

            p {
                font-size: 18px;
                color: white;
            }
            @media screen and (max-width:767px) {
                width: 80%;
                margin: 0 auto 15px;
                p {
                    font-size: 15px;
                }
            }
        }
    }

    .block-content_2 {
        h2 {
            font-size: 36px;
            color: white;
            margin-bottom: 40px;
            @media screen and (max-width:767px) {
                font-size: 18px;
            }
        }

        h1 {
            font-size: 60px;
            color: white;

            small {
                font-size: 42px;
            }
            @media screen and (max-width:767px) {
                font-size: 48px;
                line-height: 68px;
                small {
                    font-size: 26px;
                }
            }
        }

        margin: 48px 0 50px;
        @media screen and (max-width:767px) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .block-content_3 {
        p {
            color: white;
            font-size: 18px;
            margin-bottom: 10px;
        }
        @media screen and (max-width:767px) {
            width: 80%;
            margin: 0 auto;
            p {
                font-size: 14px;
            }
            img {
                width: 100%;
            }
        }
    }
}

.front-top {
    background: white;
    padding: 95px 0;
    @media screen and (max-width:767px) {
        padding-bottom: 0;
    }

    .top {
        margin: auto;
    }
}

.top {
    h3 {
        background-color: #01588E;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            border-top: 0 solid #ffffff;
            border-left: 0 solid #f5d97b6e;
            border-bottom: 0 solid #D94948;
            border-right: 0 solid #8db43400;
            border-top-width: 42px;
            border-left-width: 0px;
            border-right-width: 18px;
            border-bottom-width: 0px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            border-top: 0 solid #ffffff00;
            border-left: 0 solid #ffffff00;
            border-bottom: 0 solid #ffffff;
            border-right: 0 solid #ffffff;
            border-top-width: 42px;
            border-left-width: 0px;
            border-right-width: 18px;
            border-bottom-width: 0px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    p.blue-bold {
        font-size: 18px;
    }

    .price-block {
        color: #333333;
        font-weight: 600;
        width: auto;
    }

    .top-text {
        width: auto;
        color: #333333;
    }

    .bg-gray {
        width: auto;
        color: #333333;
    }
}


.apply-block {
    padding: 40px 0 36px;

    .apply-block-inner {
        .free-dial {
            .left {
                padding: 10px 20px 10px 10px;

                p.bigger {
                    margin-bottom: 10px;
                }
            }

            .right {
                p.bigger {
                    margin-bottom: 15px;
                }

                text-align: center;
                padding: 10px 0 10px 20px;
            }
        }
    }
}

.apply-block-inner {
    .block-content_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:767px) {
            display: block;
        }
        .slash {
            font-size: 24px;
            margin: 0 6px;
        }
    }
}

.top-reason {
    background: white;

    .reason-block {
        .reason-box {
            .item-num {
                h3 {
                    font-family: Roboto;
                }

                top: -50px;
            }
        }
    }
}


.result-title {
    padding: 70px 0 15px 0;
    text-align: center;
    width: 1200px;
    margin: auto;
    position: relative;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 767px) {
        width: 90%;
    }
    .text-center {
        font-size: 24px;
        display: inline-block;
        margin: 0;
    }

    .text-right {
        position: absolute;
        right: 0;
        font-size: 20px;
        top: 70%;
    }
}

.result {
    max-width: 1000px;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 30px 100px 25px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:767px) {
        width: 80%;
        margin: 0 auto;
        display: block;
        max-width: none;
        padding: 20px 0;
        .result-nd_title {
            text-align: center;
            margin: 20px auto;
        }
        .result-left {
            width: 80%;
            margin: 0 auto;
        }
        .result-right {
            width: 80%;
            margin: 0 auto;
        }
    }
}

.result-nd_title {
    h4 {
        color: #333333;

        small {
            font-size: 13px;
        }
    }
}

.result-content {
    margin-top: 25px;
    @media screen and (max-width:767px) {
        &.graph {
            justify-content: center;
            display: flex;
            img {
                display: block;
            }
        }
    }
    .ranking {
        color: #333333;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
}

.ranking {
    .ranking-number {
        background: transparent;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-right: 15px;
    }

    .ranking-number.rank-gold {
        background-color: #D9AA1E;
    }

    .ranking-number.rank-silver {
        background-color: #C7D1D9;
    }

    .ranking-number.rank-bronze {
        background-color: #BF6E26;
    }
}


.btn {
    position: relative;

    .fa-chevron-right {
        border-radius: 50%;
        border: 1px solid white;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
    }
}

.top-customer-voice {
    background-color: white;
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-wrap: wrap;

        .voice-box {
            flex-grow: 1;
            width: 33%;
            text-align: center;
        }
    }
    @media screen and (max-width:767px) {
        display: block;
        .wrapper {
            display: block;
            .voice-box {
                flex-grow: 1;
                width: 70%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

.voice-box {
    .voice-box_content {
        max-width: 220px;
        margin: auto;
        color: #333333;
        padding-bottom: 60px;

        img {
            width: 100%;
            height: 210px;
        }

        .name {
            padding: 12px 5px 15px;
            font-size: 13px;
            line-height: 23px;
            border-bottom: 1px solid #6D7E8C;
            margin-bottom: 10px;
        }

        .text {
            text-align: left;
            line-height: 28px;
        }
    }
}

.top-section-flow {
    padding: 90px 0 130px;
    background-color: #F5F5F5;
    .flow-title-box {
        text-align: center;
        margin-bottom: 70px;
    }
    .btn {
        background-color: #6D7E8C;
        border-radius: 5px;
        cursor: pointer;
        height: 45px;
        line-height: 45px;
        margin: 50px auto 0;
        text-align: center;
        width: 486px;
		@media screen and (max-width:425px) {
			width: 90% !important;
			a {
				font-size: 12px;
                margin-right: 15px;
			}
            .fa-chevron-right {
                height: 24px;
                top: 10px;
                width: 24px;
            }
        }
        a {
            text-decoration: none;
            color: #FFF;
            font-size: 16px;
        }
        position: relative;
    
        .fa-chevron-right {
            border-radius: 50%;
            border: 1px solid white;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            color: white;
        }
    }
}

.top-flow-title-box {
    .flow-title {
        color: #6D7E8C;
        font-size: 20px;
        margin-bottom: 50px;
        position: relative;
        text-align: center;
        font-weight: 300;

        &::after {
            background-color: #6D7E8C;
            bottom: -15px;
            content: "";
            height: 20px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 100%);
            width: 0.1px;
        }
    }

    .flow-title__sub {
        color: #035AA6;
        font-size: 42px;
        font-weight: bold;
        line-height: 1.714285em;
        margin-bottom: 35px;
        text-align: center;
        @media screen and (max-width:767px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .flow-free {
        background-color: #FADD62;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: #01588E;
        margin: auto;
    }
}

.top-step {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        display: block;
        .step-item {
            width: 80%;
            margin: 0 auto;
        }
    }
    .step-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 25%;

        .step-item__illust {
            .step-item__illust-step {
                color: #01588E;
                font-family: Roboto;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                border-bottom: 3px solid #56AEDD;
                span {
                    font-size: 42px;
                    margin-left: 5px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 50px;
                    height: 3px;
                    background-color: #56AEDD;
                    transform: rotate(45deg);
                    right: -6px;
                    bottom: 15px;
                }
            }

            .step-item__illust-icon {
                width: 100%;
                height: 165px;
                padding: 20px 10px;
                text-align: center;

                img {
                    width: 165px;
                    height: 120px;
                    object-fit: cover;
                }
            }
        }

        .step-box {
            max-width: 220px;
            margin: auto;
            text-align: center;
            padding-bottom: 80px;

            .step-item__illust {
                text-align: left;
            }

            .step-item__text {
                h3.step-item__text-title {
                    font-size: 22px;
                    color: #333333;
                    line-height: 28px;
                }

                height: 55px;

                small {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

.top-flow-alert {
    max-width: 820px;
    margin: auto;
    font-size: 16px;
    line-height: 28px;
}

section.top-conform {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 50px;
    color: #333333;
    margin-top: 50px;
    @media screen and (max-width:767px) {
        box-sizing: border-box;
        max-width: none;
        width: 90%;
        margin: 50px auto 0;
        padding: 10px;
        h2.conform-title {
            margin-bottom: 30px;
        }
        p.conform-alert {
            margin-bottom: 30px;
        }
    }

    h2.conform-title {
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 60px;
    }

    p.conform-alert {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 28px;

        a {
            color: #56AEDD;
            text-decoration: none;
        }
    }

    ul.conform-lists {
        max-width: 500px;
        margin: auto;
        color: #01588E;
        @media screen and (max-width:767px) {
            max-width: none;
            width: 90%;
            li.conform-lists__item {
                margin-bottom: 20px;
            }
        }
        li.conform-lists__item {
            margin-bottom: 40px;
            position: relative;
            list-style: none;

            &:last-child {
                margin-bottom: 0px;
            }

            h3.conform-lists__item__title {
                font-size: 18px;
                line-height: 32px;
                color: #333333;
            }

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -30px;
                width: 13px;
                height: 13px;
                background: #01588E;
            }
        }
    }
}

.bg-white {
    background-color: white;
}

section.comments {
    padding: 30px 0;
}

.appeal {
    padding-bottom: 0px;
    @media screen and (max-width:767px) {
        padding-bottom: 0;
    }
}